<link  rel="stylesheet" href="app.css">


<h1 class="dam">
	INFORMATION OF THE COVID-19 IN INDIA
</h1>

<h1 class="dam">
	SEARCH FOR THE STATE BY ITS NAME OR BY ITS STATE CODE
</h1>

<form action="/result" method="GET" id="man">
	<input type="text" placeholder="state" name="search">
	<input type="submit">	
	
</form>

<h2 class="dam">
	MADE BY AYUSHMAN
</h2>