body {
	background: url("https://miro.medium.com/max/1091/1*1k8BXesUwmCYXv0tt5KcuQ.jpeg");
	background-size: cover;
	background-position: center;
}

.dam {
	line-height: 1.1;
	color: black;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#man {
	margin: auto;
	max-width: 600px;
	margin-top: 20px;
}

#want {
	margin: auto;
	max-width: 600px;
	margin-top: 30px;
}